.custom-input_label {
  font-size: 1.4rem;
}

.custom-input {
  display: block;
  width: 100%;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.custom-input:focus {
  border-color: #000;
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); */
}

.custom-input__error {
  margin: 5px 2px;
  font-weight: 600;
  color: rgb(214, 68, 68);
}
