.primary {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgb(68, 68, 68);
}

.secondary {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgb(68, 68, 68);
}
